<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        
        <style>
            
            html {
                 background-color: #F2F3F4;
            }
            .category-item img {
               height:200px; 
                width:100%;
                object-fit: cover;
               
            }
            .page {
                margin: 0 auto;
                width: 75%;
              
            }
            .label {
                background:  rgba(27, 27, 27, 0.6);
                width: 100%;
                color: white;
                font-size:18px !important;
                padding: 0px !important;
                text-align: center;
            }

            p.uppercase {
                text-transform: uppercase;
                color: black;
            
                font-size: 20px;
              
            }
            i.material-icons {
                color: #154360;
            }
           
           
        </style>
    </headf>
    <body>

           
                  <nav>
                    <div class="nav-wrapper white">
                       
                      <ul class="right">
                          
                            <li><a href="/dash"><i class="material-icons">view_module</i></a></li>
                       
                        
                      </ul>
                      
                    </div>
                  </nav>
                  <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header"><i class="material-icons">shopping_cart
                            </i>My Orders</div>
                          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                       
                        <li>
                                <div class="collapsible-header"><i class="material-icons">settings</i>Account Settings</div>
                                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                              </li>
                      </ul>
       
       
        <script>
           
          
        </script>
    </body>
</html>
