<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.0/sweetalert2.all.min.js"></script>


</script>
</head>
<body >



<div class="page text-center" style="padding: 10px; margin-top: 50px" >

  <div class="page" >

 </div>
 <div style="margin: 0 auto; padding: 10px;">
    
      <b>Login as a tester</b> </br>
    
 <a href="/auth/facebook"><button type="button" class="fa fa-facebook-square btn btn-primary"> Continue with Facebook</button></a>


  </div>

</div>

<script>




</script>
</body>
</html>