<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">

 <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body >



<div class="page text-center" style="padding: 10px; margin-top: 50px; width: 50%" >
<h3>Privacy Policy</h3>
<h4>Scope and Consent</h4>
</h5>
    You accept this Privacy Policy when you sign up for, access, or use our products, services, content, 
    features, technologies or functions offered on our website and all related sites, applications, 
    and services including Orderup (collectively “yabucks.com services”) directly or indirectly through the restaurants that use our services.
     This Privacy Policy applies US law and is intended to govern the use of 
     yabucks Services by our users (including, without limitation those who use the yabucks 
     Services in the course of their trade or business) in the United States, 
     unless otherwise agreed through contract. 
     We may amend this Privacy Policy at any time by posting a revised version on our website. 
     The revised version will be effective as of the published effective date. 
     In addition, if the revised version includes a substantial change, 
     we will provide you with 30 days’ prior notice by posting notice of the change on the "Policy Updates" 
     page of our website. After this 30-day notice period, you will be considered as having 
     expressly consented to all amendments to this Privacy Policy.
    </h5>
    <h4> Information we collect automatically: </h4>
    <h5>    When you use yabucks Services, 
        we collect information sent to us by your computer, mobile phone or other access device. 
        The information sent to us includes, but is not limited to, 
        the following: data about the pages you access, computer IP address, 
        device ID or unique identifier, device type, geo-location information, computer and connection information,
         mobile network information, statistics on page views, traffic to and from the sites, 
         referral URL, ad data, and standard web log data and other information.</h5>

</div>

<script>




</script>
</body>
</html>